<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>MethodicGrey</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<div id="header">
    <div id="logo">
        <h1>MethodicGrey</h1>
        <p>Free PSD Website Template</p>
    </div>
    <div id="topnav">
        <ul>
            <li class="first"><a href="#">Company</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Long Link Text</a></li>
        </ul>
    </div>
    <div class="clear"></div>
 </div> 
<div id="article">
    <div id="image">
        <img src="images\methodicgrey.gif" alt="" />
    </div>
    <div id="text">
        <h2>Cursus penati saccum ut curabitur nulla.</h2>
        <p>Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabitur consequam intesque. Curabiturpisametur in ante.</p>
    </div>
    <div id="link">
        <a href="#">Ipsumsenterdum non velit &#187;</a>    
    </div>
    <div class="clear"></div>
</div>
<div id="content-wrapper">
    <div id="content">
        <div id="about_this">
            <h2>About This Free PSD Template</h2>
            <p>This is a W3C standards compliant free PSD website template from <a href="#">OS Templates</a>.</p>
            <p>This template is distributed using a <a href="#">website template licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
            <p>For more free css templates visit <a href="#">OS-Templates.com</a></p>
            <p>Lacusenim inte trices lorem anterdum nam sente vivamus quis fauctor mauris.</p>
        </div>
        <div class="lipsum">
            <div class="lipsum_1">
                <h2>Lipsum</h2>
                <div class="imgholder">
                    <img src="images/methodicgrey1.gif" alt="" />
                </div>
                <p>Urnau ltrices quis curabitur pha sellent esq ue congue magnisve stib ulum quis modo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
                <div class="more">
                    <a href="#">Continue Reading &#187;</a>
                </div>
            </div>
            <div class="lipsum_1">
                <h2>Lipsum</h2>
                <div class="imgholder">
                    <img src="images/methodicgrey1.gif" alt="" />
                </div>
                <p>Urnau ltrices quis curabitur pha sellent esq ue congue magnisve stib ulum quis modo nulla et feugiat. Adipisciniap ellentum leo ut consequam.</p>
                <div class="more">
                    <a href="#">Continue Reading &#187;</a>
                </div>
            </div>
        </div>
    </div>     
    <div class="indo">
        <div class="box">
            <div class="block_in">
                <div class="img_1">
                    <img src="images/methodicgrey2.gif" alt="" />
                </div>
                <div class="text_1">
                    <h2>Indonectetus facilis leo</h2>
                    <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                </div> 
            </div>
            <div class="block_in">
                <div class="img_1">
                      <img src="images/methodicgrey2.gif" alt="" />
                </div>
                <div class="text_1">
                    <h2>Indonectetus facilis leo</h2>
                    <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                </div> 
            </div>
            <div class="block_in">
                <div class="img_1">
                    <img src="images/methodicgrey2.gif" alt="" />
                </div>
                <div class="text_1">
                    <h2>Indonectetus facilis leo</h2>
                    <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                </div> 
            </div>
            <div class="block_in">
                <div class="img_1">
                    <img src="images/methodicgrey2.gif" alt="" />
                </div>
                <div class="text_1">
                    <h2>Indonectetus facilis leo</h2>
                    <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                </div> 
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="null">
    <div class="null_d">
        <h2>Nullamlacus dui</h2>
        <p>Nullamlacus dui ipsum conseque lobor ttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phas ellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipiscin iapellentum leo ut consequam.</p>
        <div class="cont">
            <a href="#">Continue Reading &#187;</a>
        </div>
    </div>
    <div class="null_d">
        <h2>Nullamlacus dui</h2>
        <p>Nullamlacus dui ipsum conseque lobor ttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phas ellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipiscin iapellentum leo ut consequam.</p>
        <div class="cont">
            <a href="#">Continue Reading &#187;</a>
        </div>
    </div>
    <div class="null_d">
        <h2>Nullamlacus dui</h2>
        <p>Nullamlacus dui ipsum conseque lobor ttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phas ellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipiscin iapellentum leo ut consequam.</p>
        <div class="cont">
            <a href="#">Continue Reading &#187;</a>
        </div>
    </div>
    <div class="clear"></div>
</div> 
<div class="footer">
    <div class="met_1">
        <img src="images/methodicgrey4.gif" alt="" />
    <ul>
        <li><a href="#">Tel: xxxxx xxxxxxxxxx</a></li>
        <li><a href="#">Mail: info@domain.com</a></li>
    </ul>
    </div>
    <div class="enter">
        <p>Please enter your email to join our mailing list</p>
        <form action="#" method="post">
            <fieldset>
                <legend>News Letter</legend>
                <input type="text" class="text1" value="" />
                <input type="submit" name="news_go" class="news_go" value="GO" />
            </fieldset>
        </form>
        <p>To unsubsribe please <a href="#">click here &#187;</a></p>
    </div>
</div>
    

    
</body>
</html>















